/.externalToolBuilders/
/.settings/
/.buildpath
/.project
/.vscode/
/clients/
/config_path.inc.php
/config/config_install.inc.php
/config/env_install.inc.php
*.txt
/docs/
/nbproject/
/log/
/vendor/
/js/vendor/
*.cache
*.bak
*.code-workspace
.phpactor*