parameters:
    level: 0
    bootstrapFiles:
        - config_path.inc.php
    excludePaths:
        - /*/vendor/*
        - /*/services/media/*
        - /*/upload_file/*
        - /*/widgets/cache/*
        - /*/modules/debugbar/adminer/*
        - /*/modules/debugbar/include/ADAAdminerPlugin.php
        - /*/modules/debugbar/adaadminer.php
