parameters:
    level: 0
    bootstrapFiles:
        - config_path.inc.php
    excludePaths:
        - /*/graph/*
        - /*/vendor/*
        - /*/services/media/*
        - /*/upload_file/*
        - /*/widgets/cache/*
        - /*/api/*
