@CHARSET "UTF-8";

div.form.fform select.form {
	display: inline-block;
	float: none;
}

#registrationError .content {
	color: #D24B4C;
    font-size: 1.4em;
    text-align: center;

}

span.pass-validator-text {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    margin-top: -2em;
}

div.policy.text p {
    text-align: initial;
}

#unamecheckstatus {
	margin-top: 1em;
}

form li.hidden {
    display: none !important;
}

div.first {
   width: 80%;
   margin: 0 auto;
}

div.fform form fieldset.form ol.form,
div.fform form fieldset.form ol.form li.form {
    display: flex;
    flex-direction: column;
}

div.fform form fieldset.form ol.form li.form {
    flex-direction: row;
}

div.fform form fieldset.form ol.form li.form label.form {
    display: inline-block;
    max-width: 50%;
    text-transform: capitalize;
}

div.fform form fieldset.form ol.form li.form input[type=text],
div.fform form fieldset.form ol.form li.form input[type=password] {
    width: calc(100% - 10px);
}

div.fform form fieldset.form ol.form li.form select {
    width: 100%;
}
