@import url("index.css");

#pagecontainer { margin-bottom: -55px; }
#content_view {
	width: 100%;
	float: left;
}

#content_view .dataTables_wrapper.dt-semanticUI {
	margin-top: 3em;
}

#content_view table > tbody > tr > td:last-child {
	text-align: center;
}

#content_view table > tbody > tr > td:last-child > a {
    background: none;
	display: inline-block;
}

#content_view table > tbody > tr > td:last-child > a:hover {
	background: #ffc;
}