div.ui.form,
div.ui.selection.dropdown>.menu>.item {
    font-size: initial;
}

.dz-message {
    color: rgba(0, 0, 0, .4);
}

.dropzone {
    background-color: rgba(0, 0, 0, .04);
    border: 1px dashed #00AEA6;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 5.5em 2em;
}

.dropzone .dz-message {
    margin: 0 auto;
    display: block;
    font-weight: 400;
}

.dropzone.dz-started {
    padding: 0.9em 0 0.9em 0;
}

.dropzone.dz-started .dz-message {
    display: none;
}

.dropzone.dz-drag-hover {
    background-color: rgba(0, 0, 0, .2);
}